body {
    background-color: #2F5249;
    min-height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    color: #ffffff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 420px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 300px;
    margin: 0 auto 0 auto;
    display: block;
}

.palindrome-box, form.palindrome-box {
    background-color: #fff;
    color: #191970;
    border-radius: 15px;
    padding: 35px 40px 35px 40px;
    margin-bottom: 24px;
    min-width: 320px;
    max-width: 400px;
    text-align: center;
    font-size: 1.13rem;
    box-shadow: 0 5px 12px rgba(131, 208, 116, 0.23);
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
    font-weight: 300;
}