body {
    background-color: #213448;
    min-height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    color: #ffffff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    max-width: 300px;
    margin: 0 auto 0 auto;
    display: block;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}

.palindrome-container {
    width: 90%;
}

.palindrome-box, form.palindrome-box {
    background-color: #fff;
    color: #191970;
    border-radius: 20px;
    padding: 30px 43px 30px 43px;
    margin-bottom: 24px;
    min-width: 320px;
    max-width: 400px;
    text-align: center;
    font-size: 1.13rem;
    box-shadow: 0 5px 8px #328E6E;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
    font-weight: 300;
}

input[type="text"] {
    width: 215px;
    margin-top: 10px;
    margin-right: 14px;
    font-size: 17px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #5409DA;
    padding: 8px 8px 3px 8px;
    color: #23234c;
    transition: border-bottom 0.19s;
    box-sizing: border-box;
}

#check-btn {
    padding: 11px 28px;
    border-radius: 17px;
    border: none;
    background: #5409DA;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0;
    vertical-align: middle;
}

#check-btn:hover {
    background: #3700a3;
}

.palindrome-box form > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.info {
    background: #1A2A80;
    color: #fff;
    max-width: 430px;
    margin: 8px auto 0 auto;
    padding: 22px 26px 22px 20px;
    border-radius: 18px;
    box-shadow: 0 5px 18px 0 rgba(0,0,0,0.16);
    display: flex;
    align-items: flex-start;
    gap: 14px;
    line-height: 1.38;
    font-size: 1.15rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', Arial, sans-serif;

}

.info-icon {
    flex-shrink: 0;
    margin-top: 2px;
    line-height: 1;
}